.logo-svg {
  height: 100%;
  width: 100%;
  position: relative;

  &>.video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: url(#svgTextPath);
  }
  &>.video-container>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }


  &>svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;

    &.body {
      position: relative;
    }
  }

  .n {
    transition: all ease 0.3s;
  }

  .uls {
    transition: all ease 0.3s;
    opacity: 1;
  }

  .ai {
    transition: all ease 0.3s;
    transform: translate(0, 0);
  }
  
  // &:hover {
  //   .uls {
  //     opacity: 0;
  //   }
    
  //   .ai {
  //     transform: translate(-1000px, 0);
  //   }
  // }
}
